body {
    background-color: burlywood;
    color: black;
}
   
img {
    width: 300px;
    height: 450px;
    margin: 50px;
}

#content {
    border: 5px solid black ;
    border-radius: 70%;
    background-color: silver;
    width: 400px;
    height: 550px;
    margin: 10px;
}

h2 {
    font-family:Lucida Handwriting;
    font-weight: normal;
}